 <% include ./partials/header %>
  <script src="//cdn.jsdelivr.net/github  -cards/latest/widget.js"></script>
  <br><br>
  <div class="ui container">
    <div class="ui yellow segment">
      <div class="ui padded stackable grid">
        <div class="row">
          <div class="two wide column">
            <img class="ui  small circular image" src="/images/gif-animations-replace-loading-screen-12.gif">
          </div>
          <div class="nine wide column">
              <br>
                <h1 style="font-size:40px;line-height: 20px">About Me</h1>
          </div>
          <div class="four wide column">
            <br><br>
            <div class="ui right floated image">
              <a href="/"> <img src="/images/close_icon3.png" width="30px" > </a>
            </div>
          </div>

        </div>

        <div class="ui section divider"></div>
        <div class="row">

          <div class="ui padded stackable grid">
            <div class="ten wide column" >
              <h1>Hello!</h1>
              <p style="font-size:20px">I'm Web Developer with experience of working in NodeJS, MongoDB, PostgreSQL, ExpressJS and Semantic UI.
                I have completed my bachelor's project which was data processing web app for our college's personal use.
              </p>
              <p style="font-size:20px">I have passion and love for creating  useful web apps. Also I have deep love for creating beautiful and elegant UI.</p>
              <h1>Objective</h1>
              <p style="font-size:20px">
                I would love to work for organization where I could increase my potential and enhance my skills while serving the organization.
              </p>
              
                <img class="ui large image" src="/images/team_illustration.png" alt="">

            </div>
            <div class="one wide column">

            </div>
            <div class="five wide column">
              <h3><i class="github big icon"></i>GitHub</h3>
                    <div class="ui card">
                      <div class="image">
                        <img src="https://avatars3.githubusercontent.com/u/30546867?s=400&u=6c759ce29ef691908b0f818b34024a7f9ea33d9e&v=4">
                      </div>
                      <div class="content">
                        <div class="header">Jalak Patoliya
                          <a href="https://github.com/jalakpatoliya"> <button class="ui right floated button"type="button" name="button">follow</button> </a>
                        </div>
                        <div class="meta">
                          <a>@jalakpatoliya</a>
                        </div>
                        <div class="ui horizonatal divider">
                        </div>
                        <div class="description">
                          <div class="ui stackable grid">
                            <div class="row">
                              <div class="five wide column">
                                <a href="https://github.com/jalakpatoliya?tab=repositories"><h2 class="ui header" >21</h2></a>  <a href="https://github.com/jalakpatoliya?tab=repositories">REPOS</a>
                              </div>
                              <div class="five wide column">
                                <a href="https://github.com/jalakpatoliya?tab=repositories"><h2 class="ui header" >0</h2></a>  <a href="https://github.com/jalakpatoliya?tab=repositories">GISTS</a>
                              </div>
                              <div class="four wide column">
                                <a href="https://github.com/jalakpatoliya?tab=repositories"><h2 class="ui header" >0</h2></a>  <a href="https://github.com/jalakpatoliya?tab=repositories">FOLLOWERS</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="extra content">
                        <h3>Available for hire</h3>
                      </div>
                    </div>


            </div>


          </div>


        </div>

        <div class="row">
        </div>

      </div>
    </div>
  </div>


<% include ./partials/footer %>
